@import "../modules/mixins.scss", "../modules/variables.scss";

.search {
  position: relative;
  width: 100%;
  max-width: 263px;
  &__input {
    width: 100%;
    border: none;
    background-color: #ededed;
    border-radius: 36px;
    padding: 20.5px 10px 20.5px 20px;
    box-sizing: border-box;
    font-size: 0.857rem;
    line-height: 1.5;

    &:focus {
      outline: 1px solid $gold;
    }

    &::placeholder {
      font-family: "Inter";
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1.5;
      color: #5c6370;
      opacity: 0.6;
    }
  }
  &__button {
    position: absolute;
    @include addImg("../../../images/utils/search.svg");
    width: 39px;
    height: 39px;
    border: none;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
  }
}
